<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h1>Patient Appointment Notification</h1>
<p>Patient with id </strong> <span th:text="${patientId}"></span>  has just scheduled an appointment</p>

<h2>Appointment Details</h2>
<p><strong>Patient Name:</strong> <span th:text="${name}"></span></p>
<p><strong>Patient Email:</strong> <span th:text="${email}"></span></p>
<p><strong>Appointment Type:</strong> <span th:text="${appointmentType}"></span></p>
<p><strong>Appointment Date-Time:</strong> <span th:text="${appointmentType}"></span></p>
</body>
</html>