<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h1>Patient Appointment Notification</h1>
<p>Patient with id </strong> <span th:text="${patientId}"></span>  has just scheduled an appointment</p>
  <h3>Appointment Details</h3>

  <p><strong>Patient Name:</strong> <span th:text="${name}"></span></p>
  <p><strong>Appointment Date:</strong> <span th:text="${date}"></span> </p>
  <p><strong>Patient Email:</strong> <span th:text="${email}"></span></p>
  <p><strong>Appointment Type:</strong> <span th:text="${appointmentType}"></span></p>
  <p><strong>Appointment Time:</strong> <span th:text="${time}"></span></p>
  <p><strong>Service Type:</strong> <span th:text="${service}"></span></p>

</body>
</html>