<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Acknowledgement Of Form Submission!</title>
</head>
<body>
<h1>Acknowledgement Of <span th:text="${formType}"> form</span> Form Submission!</h1>
<p>
  Dear <span th:text="${name}"></span>, </br>
  The Brightlife team is using this medium to acknowledge
  the receipt of your <span th:text="${formType}"> form</span>. A team member would reach out to you
  to notify you about the next step of your treatment process.
</p>
<p>
  If you have any questions or need assistance, feel free to reply to this email.<br>
  <br>
  Best regards,<br>
  The BrightLife Team
</p>
</body>
</html>