<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Next Step From Brightlife!</title>
</head>
<body>
<h1>Next Step Of your Behavioral treatment Journey</h1>
<p>
  Dear <span th:text="${name}"></span>, the Brightlife team is thriled to receive your intake
   form, the next step is to schedule an appointment.
</p>
<p>
  Click the link below to schedule an appointment date and time that works for you :<br>
  <a th:href="${appointmentUrl}" target="_blank">schedule appointment</a>
</p>
<p>
  If you have any questions or need assistance, feel free to reply to this email.<br>
  <br>
  Best regards,<br>
  The BrightLife Team
</p>
</body>
</html>